<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.titel %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keyword %>
  </p>

  <p>
    <%= post.user_id %>
  </p>

  <p>
    <%= link_to "show this post", post %>
  </p>

  <% like = current_user.likes.find_by(post: post) %>
  <% if like.nil? %>
    <%= button_to "Like", likes_path, 
                  params: { like: { post_id: post.id } }, 
                  method: :post, 
                  remote: true,
                  id: "like-button-#{post.id}" %>
  <% else %>
    <%= button_to "Unlike", like_path(like), 
                  method: :delete, 
                  remote: true,
                  id: "unlike-button-#{post.id}" %>
  <% end %>
  <p id="likes-count-<%= post.id %>"><%= post.likes.count %> Likes</p>

  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: contain; width: 200px; height: 200px") %>
  <% end %>
</div>
